/**
  StyleSheet for Calendar
*/

* {
  padding: 0;
  margin: 0;
}

//Define Var
$white: #FFF;
$black: #000;
$red: red;
$lightGray: #f3f3f5;
$darkGray: #dedee1;
$green: green;
$lightGreen: #7ef37e;
$orange: orange;
$yellow: yellow;

 .wrapper {
   background: $darkGray;
   padding: 1rem;
   color: $black;
   margin: 2rem auto;
   width: 29rem;
   border-radius: 0.5rem;
 }

 section.calendar-body {
   background: $white;
   padding: 1rem;
 }

 table {
   margin: 0 auto;

   th,td {
     background: $lightGray;
     padding:1rem;
   }

   //blanks, weekday, weekends, currentDay
   .weekday {
     background: $lightGreen;
   }

   td:nth-child(6n+1):not(.blankCell){
     background: $yellow;
   }

   .current-day {
      background: $orange !important; //override it
   }


 }//table end
